---
import Nav from "@/components/Nav.astro";
---

<header class="py-5 border-b-[1px] dark:border-zinc-700/50 border-zinc-300/50">
  <div class="container px-5 mx-auto max-w-7xl">
    <Nav />
  </div>
</header>
